body{
  display:flex;
  align-items: center;
  background-color: #f5f5f5 !important;
  padding-top:40px;
  padding-bottom:40px;

}

.form-signin{
  max-width:330px;
  padding:15px;

}

.img-spec{
  margin-bottom: 20px;
}

.form-signin .form-floating:focus-within{
  z-index:2;
}

.top{
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.middle{
border-radius: 0 !important;
}

.bottom{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-bottom: 10px;
}
